form .row {
  margin: 50px;
}

h1,
h2 {
  text-align: center;
}

section .card {
  height: 350px;
  margin-top: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
  font-size: 20px;
  line-height: 3.5em;
  font-family: monospace;
}

#measurement {
  font-size: 20px;
}

#condition {
  font-size: 30px;
}

#condition {
  text-transform: capitalize;
}

#weather-icon {
  font-size: 150px;
}

.title {
  font-size: 38px;
  margin-bottom: 50px;
}
.week {
  font-size: 16px;
}

.card-text {
  font-size: 16px;
}

#footer {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}
